<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RSS | Audio-Cast </title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="shortcut icon" type="image/png" href="/static/favicon.png">
	<nav> 
		<a href="/">Home</a> |
		{% if not session['logged_in'] %}
			<a href="/login">Login</a> |
			<a href="/register">Register</a> |
		{% endif %}
		{% if session['logged_in'] %}
			<a href="/logout">Logout</a> |
			<a href="/user" class='logged_user'>{{session['username'].title()}}</a>
		{% endif %}    
	</nav>
</head>
<body class='res_page'>
	<input type="text" value='http://pacific-plateau-42582.herokuapp.com/rss/{{url_token}}' class="link">
	<button onclick="copyToClipboard()">click here to copy the link</button>
	

	<p>Alternatively, Scan the following QR code to get the link</p>
	<img src='static/{{url_token}}.png' alt={{link}} title={{link}}>
	<script src='static/main.js'></script>
</body>
</html>
