<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> User | Audio-Cast </title>
	<link rel="stylesheet" href="static/style.css">
	<nav> 
		<a href="/">Home</a> |
		{% if not session['logged_in'] %}
			<a href="/login">Login</a> |
			<a href="/register">Register</a> |
		{% endif %}
		{% if session['logged_in'] %}
			<a href="/logout">Logout</a> |
			<a href="/user" class='logged_user'>{{session['username'].title()}}</a>
		{% endif %}    
	</nav>
</head>
<body>

	<div>
		{% if infos %}
			<table border=1 align="center">
				<tr>
					<th>Title</th>
					<th>Desceiption</th>
					<th>Link</th>
					<th>QR code</th>
				</tr>
				{% for title, description, url_token in infos %}
					<tr>
						<td>{{ title }}</td>
						<td>{{ description }}</td>
						<td>http://audio-cast.herokuapp.com/rss/{{url_token}}</td>
						
						<td>
							<img class='qrcode' src='static/{{url_token}}.png' alt='http://pacific-plateau-42582.herokuapp.com/rss/{{url_token}}'>
						</td>
					</tr>
				{% endfor %}

			</table>
		{% else %}
			<p align="center"> You haven't uploaded anything yet. Go back <a href="/">here</a>.</p>
		{% endif %}
	</div>
</body>
</html>
